/*
Error: Invalid CSS after "#4D964E": expected expression (e.g. 1px, bold), was ";"
        on line 62 of ./addons/website_forum/static/src/css/website_forum.sass

57:   color: #eea91e
58: 
59: .oe_answer_true
60:   color: #3c763d
61:   &:hover {
62:     color: #4D964E;
63:   }
64: 
65: .oe_answer_false
66:   color: #bbbbbb
67:   &:hover {

Backtrace:
./addons/website_forum/static/src/css/website_forum.sass:62
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/script/lexer.rb:229:in `expected!'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/script/parser.rb:744:in `assert_done'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/script/parser.rb:76:in `parse'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/script/parser.rb:240:in `parse'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/script.rb:27:in `parse'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:1151:in `parse_script'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:721:in `parse_property'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:692:in `parse_property_or_rule'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:658:in `parse_line'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:536:in `build_tree'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:545:in `block in build_tree'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `each'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `build_tree'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:545:in `block in build_tree'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `each'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:538:in `build_tree'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:409:in `_to_tree'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/plugin.rb:109:in `method_missing'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/home/arcanum/.gem/ruby/2.1.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"#4D964E\": expected expression (e.g. 1px, bold), was \";\"\A         on line 62 of ./addons/website_forum/static/src/css/website_forum.sass\A \A 57:   color: #eea91e\A 58: \A 59: .oe_answer_true\A 60:   color: #3c763d\A 61:   &:hover {\A 62:     color: #4D964E;\A 63:   }\A 64: \A 65: .oe_answer_false\A 66:   color: #bbbbbb\A 67:   &:hover {"; }
